# Dependencies
node_modules

# yarn
yarn-error.log

# Ignore package-lock files (only use yarn.lock)
package-lock.json

# coverage
coverage/
coverageEnv/
coverage.json
allFiredEvents
scTopics

# build artifacts
abi
cache
artifacts
