node_modules/
npm-debug.log
build/
docker_home/
test-*
tmp-*
coverage/
coverageEnv/
coverage.json
scTopics
functions.csv
artifacts/
allFiredEvents

# geth and parity specific files
password
genesis.json
