# Dependencies
node_modules/

# Lock files
package-lock.json
yarn.lock

# coverage
coverage/
coverageEnv/
coverage.json
allFiredEvents
scTopics

# truffle build artifacts
abi/
build/
bytecode/
bytecode_new/
flattened_contracts/
