/*
{{ disclaimer }}
*/

pragma solidity ^0.4.11;

import "../tokens/MiniMeIrrevocableVestedToken.sol";
import "../dao/DAO.sol";
import "../organs/MetaOrgan.sol";
import "../apps/Application.sol";
import "../apps/ownership/OwnershipApp.sol";
import "./ForwarderFactory.sol";

contract BasicFactory {
    event DeployedDAO(address dao);
    address public kernel;
    ForwarderFactory public forwarderFactory;
    {{#organs}}
    address public {{name}};
    {{/organs}}

    {{#apps}}
    address public {{name}};
    {{/apps}}

    function BasicFactory(address _kernel, ForwarderFactory _forwarderFactory, {{#organs}}address _{{name}}, {{/organs}}{{#apps}}address _{{name}}{{^last}}, {{/last}}{{/apps}}) {
        kernel = _kernel;
        forwarderFactory = _forwarderFactory;
        {{#organs}}
        {{name}} = _{{name}};
        {{/organs}}
        {{#apps}}
        {{name}} = _{{name}};
        {{/apps}}
    }

    function create(string _tokenName, string _tokenSymbol, bool _testrpc) {
        MiniMeIrrevocableVestedToken token = new MiniMeIrrevocableVestedToken(0, 0, 0, _tokenName, 1, _tokenSymbol, true);
        DAO dao = new DAO(kernel);
        token.changeController(address(dao));
        installOrgans(MetaOrgan(dao));
        installApps(MetaOrgan(dao), _testrpc);
        issueToken(address(dao), address(token));
        // TODO: set status for sender

        DeployedDAO(dao);
    }

    function installOrgans(MetaOrgan dao) internal {
        {{#organs}}
        bytes4[] memory {{name}}Sigs = new bytes4[]({{sigs.length}});
        {{#sigs}}
        {{../name}}Sigs[{{@index}}] = {{bytes}}; // {{name}}
        {{/sigs}}
        dao.installOrgan({{name}}, {{name}}Sigs);

        {{/organs}}
    }

    function installApps(MetaOrgan dao, bool _testrpc) internal {
        {{#apps}}
        // Proxies are not working on testrpc, that's why for testing no proxy is created
        Application deployed{{name}} = Application(_testrpc ? {{name}} : forwarderFactory.createForwarder({{name}}));
        deployed{{name}}.setDAO(address(dao));
        bytes4[] memory {{name}}Sigs = new bytes4[]({{sigs.length}});
        {{#sigs}}
        {{../name}}Sigs[{{@index}}] = {{bytes}}; // {{name}}
        {{/sigs}}
        dao.installApp(deployed{{name}}, {{name}}Sigs);

        {{/apps}}
    }

    function issueToken(address dao, address token) internal {
        OwnershipApp(dao).addToken(address(token), 1, 1, 1);
        OwnershipApp(dao).grantTokens(address(token), msg.sender, 1);
    }
}
